.issues {
  width: 100%;
}

.issues th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: black;
  color: white;
}

.issues th .th-element {
  display: inline-flex;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  color: white;
}
