.wrapper {
	width: 100%;
	background: #fff;
	padding: 20px 10px 2.5px;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}
.wrapper .input-data {
	height: 30px;
	width: 100%;
	margin: 0;
	padding: 0;
	outline: none;
	position: relative;
}
.wrapper .input-data input {
	height: 100%;
	width: 100%;
	border: none;
	font-size: 17px;
	outline: none;
	margin: 0;
	padding: 0;
}
.input-data input:focus ~ label,
.input-data input:valid ~ label {
	transform: translateY(-17.5px);
	font-size: 15px;
	margin: 0;
	padding: 0;
	outline: none;
	color: #3f3f3f;
}
.wrapper .input-data label {
	position: absolute;
	bottom: 10px;
	left: 0;
	color: #cccccc;
	pointer-events: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	transition: all 0.3s ease;
}
.input-data .underline {
	position: absolute;
	height: 2px;
	bottom: 2px;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	z-index: 0;
}
.input-data .underline:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #cccccc;
	outline: none;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
	background: #3f3f3f;
}
