{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />
{% endblock head %}

{% block main %}
<div class="login-form">
  {% csrf_token %}
  <h1>{% translate "Reset password" %}</h1>
<p style="text-align: center;">{% translate "The reset email has been send successfully. You will find the insructions on how to reset your password within the email. Look in your spam-folder aswell." %}</p><br>
<p style="text-align: center;">{% translate "If there was no account with this email, you won´t notice on this page. There just wont be an email." %}</p>

  <div class="bottom-text">
    <p>{% translate "Search the homepage?" %} <a href="{% url 'home' %}">{% translate "Back to homepage" %}</a></p>
  </div>
</div>
{% endblock main %}