{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />
{% endblock head %}

{% block main %}
<form class="login-form" method="POST">
  {% csrf_token %}
  <h1>{% translate "Reset password" %}</h1>
<p style="text-align: center;">{% translate "Please type in your email here to send a password reset request." %}</p>
  <div class="txtb">
    <input type="email" name="email" required/>
    <span data-placeholder="{% translate 'Email' %}"></span>
  </div>
  <input type="submit" class="logbtn" value="{% translate 'Reset password' %}" />

  <div class="bottom-text">
    <p>{% translate "Know your password?" %} <a href="{% url 'login' %}">{% translate "Back to login" %}</a></p>
  </div>
</form>
<script type="text/javascript">
  $(".txtb input").on("focus",function(){
    $(this).addClass("focus");
  });

  $(".txtb input").on("blur",function(){
    if($(this).val() == "")
    $(this).removeClass("focus");
  });

</script>
{% endblock main %}