{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />
{% endblock head %}

{% block main %}
<div class="login-form">
  <h1>{% translate "Validate Email" %}</h1>
  <p style="text-align: center;">{% translate "Dear" %} {{ user_to_validate.username }},</p>
  <p style="text-align: center;">{% translate "We have send you an email to validate your email and your account." %}</p><br>
  <p style="text-align: center;">{% translate "Maybe the email is in your Spam directory" %}</p>

  <div class="bottom-text">
    <p>{% translate "I will confirm my E-Mail later." %} <a href="{% url 'home' %}">{% translate "Back to homepage" %}</a></p>
  </div>
</div>
{% endblock main %}