{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/profile.css' %}" />
{% endblock head %}

{% load qr_code %}
{% block main %}
<div class="profile">
    <div class="profile_grid">
        <div class="basic_information container" style="grid-area: basic;">
            <div class="heading">
                <p>Basic Information</p>
                <ul>
                    {% if basic_edit %}
                    <li>
                        <button type="submit" form="basic_information_form" class="save">
                            <i class="fas fa-save"></i>
                        </button>
                    </li>
                    <li>
                        <a href="?basic_edit=false" class="cancel">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>                    
                    {% else %}
                    <li>
                        <a href="?basic_edit=true" class="edit">
                            <i class="fas fa-edit"></i>
                            <div>{% translate "Edit" %}</div>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <form method="post" id="basic_information_form">
                {% csrf_token %}
                {% if basic_edit %}
                <div class="data_object">
                    <label for="firstname">{% translate "Firstname" %}</label>
                    <input type="text" name="firstname" id="firstname" value="{{ user.first_name }}">
                </div>
                <div class="data_object">
                    <label for="lastname">{% translate "Lastname" %}</label>
                    <input type="text" name="lastname" id="lastname" value="{{ user.last_name }}">
                </div>
                {% else %}
                <div class="data_object">
                    <label for="firstname">{% translate "Firstname" %}</label>
                    <input type="text" name="firstname" id="firstname" value="{{ user.first_name }}" readonly>
                </div>
                <div class="data_object">
                    <label for="lastname">{% translate "Lastname" %}</label>
                    <input type="text" name="lastname" id="lastname" value="{{ user.last_name }}" readonly>
                </div>
                {% endif %}
            </form>  
            <div class="data_object">
                <p>{% translate "Email" %}</p>
                <p class="data">{{ user.email }}</p>
            </div>  
            <div class="data_object">
                <p>{% translate "Last Login" %}</p>
                <p class="data">{{ user.last_login }}</p>
            </div>   
            <div class="data_object">
                <p>{% translate "Date joined" %}</p>
                <p class="data">{{ user.date_joined }}</p>
            </div>                   
        </div>
        <div class="tfa_auth container" style="grid-area: tfa;">
            <div class="heading">
                <p>{% translate "Security" %}</p>
                <ul>
                    {% if security_edit %}
                    <li>
                        <button type="submit" form="security_form" class="save">
                            <i class="fas fa-save"></i>
                        </button>
                    </li>
                    <li>
                        <a href="?security_edit=false" class="cancel">
                            <i class="fas fa-times"></i>
                        </a>
                    </li>                    
                    {% else %}
                    <li>
                        <a href="?security_edit=true" class="edit">
                            <i class="fas fa-edit"></i>
                            <div>{% translate "Edit" %}</div>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <form method="post" id="security_form">
                {% csrf_token %}
                {% if security_edit %}
                {% if user.profile.two_factor_authentification %}
                <div class="data_object">
                    <p>2FA</p>
                    <label class="switch data">
                        <input type="checkbox" id="2fa_active" name="2fa_active" checked>
                        <span class="slider round"></span>
                    </label>
                </div>  
                {% else %}
                <div class="data_object">
                    <p>2FA</p>
                    <label class="switch data">
                        <input type="checkbox" id="2fa_active" name="2fa_active">
                        <span class="slider round"></span>
                    </label>
                </div>    
                {% endif %}
                <div class="data_object">
                    <p>2FA Key</p>
                    <p class="data" style="margin-top: -5px;">{% qr_from_text qr_code size="2" image_format="png" error_correction="L" %}</p>
                </div>
                <div class="data_object">
                    <p>{% translate "Regenerate key" %}</p>
                    <label class="switch data">
                        <input type="checkbox" id="2fa_generate" name="2fa_generate">
                        <span class="slider round"></span>
                    </label>
                </div>  
                {% else %}
                {% if user.profile.two_factor_authentification %}
                <div class="data_object">
                    <p>2FA</p>
                    <label class="switch data">
                        <input type="checkbox" id="2fa_active" checked disabled>
                        <span class="slider round"></span>
                    </label>
                </div>  
                {% else %}
                <div class="data_object">
                    <p>2FA</p>
                    <label class="switch data">
                        <input type="checkbox" id="2fa_active" disabled>
                        <span class="slider round"></span>
                    </label>
                </div>    
                {% endif %}
                <div class="data_object">
                    <p>2FA Key</p>
                    <p class="data" style="margin-top: -5px;">{% qr_from_text qr_code size="2" image_format="png" error_correction="L" %}</p>
                </div> 
                {% endif %} 
            </form>
            <div class="data_object">
                <p>{% translate "Password" %}</p>
                <a class="data" href="{% url 'change_password' %}">{% translate "Change password..." %}</a>
            </div>    
        </div>
        <div class="container" style="grid-area: private_data;">
            <div class="heading">
                <p>{% translate "Private data" %}</p>
                <ul>
                    <li>
                        <a href="{% url 'statistics' %}">
                            <div>{{ user.profile.published_count }}</div>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="private_data">
                {% for data in latest_private_data %}
                <li class="">
                    <h6>{{ data.code }}</h6>
                    <p>{{ data.created|timesince }}</p>
                </li>
                {% empty %}
                <li style="border: none; font-size: 30px; font-weight: bold; color: grey; margin-top: -10px;">
                    <h6>{% translate "Nothing here" %}</h6>
                </li>
                {% endfor %}
                {% if latest_private_data.count > 0 %}
                <li style="border: none;">
                    <a href="">{% translate "Show all" %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% if basic_success %}
<script>
    var succes = document.getElementById("success");
    setTimeout(function(){
        succes.remove();
    }, 3000);
</script>
{% endif %}
{% endblock main %}