{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
{% endblock head %}

{% block main %}
<form class="login-form" method="POST">
  {% csrf_token %}
  <h1>{% translate 'Register' %}</h1>

  <div class="txtb">
    <input type="text" name="username" value="{{ username }}" id="username" required/>
    <span data-placeholder="{% translate 'Username' %}"></span>
  </div>

  {% if bad_username %}
  <div class="login-error">{% translate 'This username is already in use' %}</div>
  {% endif %}

  <div class="txtb">
    <input type="email" name="email" value="{{ email }}" id="email" required/>
    <span data-placeholder="{% translate 'Email' %}"></span>
  </div>

  {% if bad_email %}
  <div class="login-error">{% translate 'This email is already used with a different account' %}</div>
  {% endif %}

  <div class="txtb">
    <input type="password" name="password1" value="{{ password1 }}" id="password1" required/>
    <span data-placeholder="{% translate 'Password' %}"></span>
  </div>

  {% if bad_password %}
  <ul class="password_error_list">
  {% for error in password_error%}
  <li>{{ error }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  <div class="txtb">
    <input type="password" name="password2" value="{{ password2 }}" id="password2" required/>
    <span data-placeholder="{% translate 'Confirm Password' %}"></span>
  </div>

  {% if passwords_unequal %}
  <div class="login-error">{% translate 'You typed in two different passwords' %}</div>
  {% endif %}

  <input type="submit" class="logbtn" value="{% translate 'Register' %}" />

  <div class="bottom-text">
    <p>{% translate 'Already have an account?' %} <a href="{% url 'login' %}">{% translate 'Sign in' %}</a></p>    
  </div>
</form>
<script type="text/javascript">
  $(".txtb input").on("focus",function(){
    $(this).addClass("focus");
  });

  if(document.getElementById("username").value != ""){
    document.getElementById("username").classList.add("focus");
  }
  if(document.getElementById("email").value != ""){
    document.getElementById("email").classList.add("focus");
  }
  if(document.getElementById("password1").value != ""){
    document.getElementById("password1").classList.add("focus");
  }
  if(document.getElementById("password2").value != ""){
    document.getElementById("password2").classList.add("focus");
  }

  $(".txtb input").on("blur",function(){
    if($(this).val() == "")
    $(this).removeClass("focus");
  });

</script>
{% endblock main %}