{% extends 'web/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}" />
{% endblock head %}

{% block main %}
<form class="login-form" method="POST">
  {% csrf_token %}
  <h1>{% translate "TOTP" %}</h1>
 
  {% if code_error %}
  <div class="login-error">{% translate "That´s not a valid code" %}</div>
  {% endif %}
  <div class="txtb">
    <input type="text" name="otp_key" required/>
    <span data-placeholder="2FA-Key"></span>
  </div>
  <input type="submit" class="logbtn" value="Check" />

  <div class="bottom-text">
    <p>{% translate "Can´t get the Code?" %} <a href="{% url 'mfa_email_sent' %}">{% translate "Send me the code via Email" %}</a></p>
  </div>
</form>
<script type="text/javascript">
  $(".txtb input").on("focus",function(){
    $(this).addClass("focus");
  });

  $(".txtb input").on("blur",function(){
    if($(this).val() == "")
    $(this).removeClass("focus");
  });

</script>
{% endblock main %}
