.profile {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 50px;
  padding-left: 25px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
}

.profile_grid {
  width: 100%;
  max-width: 1050px;
  min-width: 380px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "basic private_data"
    "tfa private_data";
  grid-gap: 25px;
}

.container {
  border: 1px solid grey;
  border-radius: 20px;
}

.container .heading {
  border-bottom: 1px solid grey;
  margin-left: -15px;
  width: calc(100% + 30px);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  display: flex;
  height: 50px;
  justify-content: space-between;
}

.container .heading ul {
  display: inline-flex;
}

.container .heading li {
  list-style-type: none;
}

.container .heading a,
.container .heading .save {
  border: none;
  padding: 5px;
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #cacaca;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
}

.container .heading .save {
  background-color: rgb(0, 141, 0);
  margin-top: 2.5px;
}

.container .heading .cancel {
  background-color: rgb(197, 0, 0);
  margin-top: 2.5px;
}

.container .heading p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.container input {
  text-align: right;
  border: none;
  border-bottom: 1px solid grey;
}

.container .data_object input:read-only {
  border: none;
}

.container .data_object input:focus {
  border: none;
}

.data_object {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  min-height: 24px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.data_object label,
.data_object p {
  margin: 0;
}

.private_data {
  margin-top: 10px;
}

.private_data li {
  list-style-type: none;
  margin-top: 10px;
  padding: 15px;
  padding-bottom: 0px;
  border: 0.5px solid grey;
  border-radius: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 400px) {
  .container .heading .edit div {
    display: none;
  }
  .container .heading a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container input {
    width: 100%;
  }
}

@media (max-width: 775px) {
  .profile {
    padding-right: 25px;
  }
  .profile_grid {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "basic"
      "tfa"
      "private_data";
  }
}
