{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'web/base.css' %}" />
    <script src="{% static 'web/js/base.js' %}"></script>
    <script src="{% static 'fontawesome/attribution.js' %}"></script>
    <script src="{% static 'fontawesome/js/all.js' %}"></script>

    {% block head %}{% endblock head %} {% if title %}
    <title>EPS - {{ title }}</title>
    {% else %}
    <title>EPS</title>
    {% endif %}
  </head>
  <body id="body">
    <nav class="custom_navbar" id="custom_navbar">
      <div class="nav_content">
        <div class="logo">
          <a href="{% url 'home' %}">
            <img src="{% static 'web/images/logo_final_min.png' %}" alt="EPS">
          </a>
        </div>
        <ul class="nav-menu-list">
          <div class="nav-icon nav-cancel-btn" onclick="cancel(this)" id="nav-cancel-btn">
            <i class="fas fa-times"></i>
          </div>
          <li><a href="{% url 'home' %}">{% translate "Home" %}</a></li>
          <li><a href="{% url 'statistics' %}">{% translate "Statistics" %}</a></li>
          <li><a href="{% url 'about' %}">{% translate "About" %}</a></li>
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">{% translate "Admin" %}</a></li>
          {% endif %}

          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}">{% translate "Profile" %}</a></li>
          <li><a href="{% url 'logout' %}">{% translate "Logout" %}</a></li>
          {% else %}
          <li><a href="{% url 'login' %}" class="auth">{% translate "Login" %}</a></li>
          <li><a href="{% url 'register' %}" class="auth reg">{% translate "Register" %}</a></li>
          {% endif %}
        </ul>
        <div class="nav-icon nav-menu-btn" onclick="activate(this)" id="nav-menu-btn">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    {% if messages %}
    <div class="messages" id="messages">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="block_content">
      {% block main %}
      {% endblock main %}
    </div>
    <button class="goTop"><i class="fas fa-arrow-up"></i></button>
  </body>
  <footer id="footer" {% if not footer %}style="display: none;"{% endif %}>
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="{% url 'statistics' %}"><i class="fa fa-angle-double-right"></i>Statistics</a></li>
            <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Quick links</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="{% url 'home' %}"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="{% url 'statistics' %}"><i class="fa fa-angle-double-right"></i>Statistics</a></li>
            <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right"></i>About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}"><i class="fa fa-angle-double-right"></i>Profile</a></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-angle-double-right"></i>Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i>Login</a></li>
            <li><a href="{% url 'register' %}"><i class="fa fa-angle-double-right"></i>Register</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Contact us</h5>
          <ul class="list-unstyled quick-links">
            {% if user.is_authenticated %}
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>About</a></li>
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="row" style="justify-content: space-between;">
        <div class="col-xs-12 col-sm-4 col-md-4 text-left text-white">
            <p class="h6">© All right Reversed.<a class="text-green ml-2" href="" target="_blank">Jan-Niklas Wielpütz</a></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-right text-white">
          <div class="languages-dropdown" id="languages-content">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for lang in languages %}
            {% if lang.code != "en" %}
            <li><a style="color:black;"><img src="{% static 'web/images/flags/'|add:lang.code|add:'.png' %}" alt="">{{ lang.name_local }}</a></li>       
            {% else %}
            <li><a style="color:black;"><img src="{% static 'web/images/flags/gb.png' %}" alt="">{{ lang.name_local }}</a></li> 
            {% endif %}             
            {% endfor %}
          </div>
          <button class="language-btn"><img src="{% static 'web/images/flags/'|add:LANGUAGE_CODE|add:'.png' %}" alt=""> <i class="fas fa-chevron-down"></i></button>
        </div>
      </div>	
    </div>
  </footer>
</html>
