{% load static %}
{% load i18n %}
{% load l10n %}

<p style="margin-bottom: -15px;">{% translate "Code" %}: {{ entry.code }}</p>
{% if entry.active %}
<p style="color: red; font-weight: 600; margin-bottom: -15px;"><i class="fas fa-exclamation-triangle" style="margin-right: 5px;"></i>{% translate "active" %}</p>
{% else %}
<p style="color: green; font-weight: 600; margin-bottom: -15px;">{% translate "inactive" %}</p>
{% endif %}
{% if entry.creator %}
<p style="margin-bottom: -15px;">{% translate "Creator" %}: {{ entry.creator }}</p>
{% endif %}
<p>{{ entry.created|timesince }}</p>